
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}


.header {
    background-color: #007bff;
    color: white;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}


.carousel-item img {
    height: 900px;
    object-fit: cover;
}

.hero {
    position: relative;
    background: url('https://static.vecteezy.com/system/resources/previews/001/421/515/large_2x/comet-tailed-goldfishes-on-black-background-free-photo.jpg') no-repeat center center/cover;
    color: white;
    padding: 60px 20px;
    text-align: center;
    height: 900px;

}

@media (max-width: 768px) {
    .hero {
        height: auto;
        padding: 40px 10px; 
    }
}


.hero .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.hero .content {
    position: relative;
    z-index: 2;
}

.hero h1 {
    font-size: 3em;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    margin-bottom: 20px;
    color: #f4f3f2; 
}

.hero p {
    font-size: 1.4em;
    line-height: 1.8;
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
    color: #ffffff;
    font-family: 'Arial', sans-serif; 
}

/*formulario*/
.container {
    display: flex;
    gap: 20px;
}

.formulario {
    flex: 1;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.formulario h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: calc(100% - 20px);
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group textarea {
    height: 100px;
}

.form-group.full-width {
    width: 100%;
}

.btn-enviar {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 4px;
}

.mapa {
    flex: 1;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.mapa h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.contact-info {
    margin-top: 20px;
}

.contact-info p {
    margin-bottom: 10px;
}

iframe {
    width: 100%;
    height: 300px;
    border: 0;
}
